@{
    ViewData["Title"] = "Welcome | Recruiter Manager";
}

<div>
    <center><h1><strong>RECRUITER MANAGER</strong></h1></center>
    <center><img src="~/css/WelcomeScreen.jpg" /></center>
    <center><h1>Ditch the Excel, let <em>us</em> help you excel in your job search!</h1></center>
</div>
